.temp {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.temp .item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(33% - 10px);
  cursor: pointer;
}
.temp .item img {
  width: 10px;
}
.temp .item .red {
  background-color: #ffddd4;
  display: flex;
  flex-grow: 1;
  height: 6px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.temp .item .redBold {
  background-color: #f75;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 50%;
  height: 100%;
}
.temp .item .yellow {
  background-color: #fff0c6;
  display: flex;
  flex-grow: 1;
  height: 6px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.temp .item .yellowBold {
  background-color: #ffd33a;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 50%;
  height: 100%;
}
.temp .item .green {
  background-color: #e9f6d5;
  display: flex;
  flex-grow: 1;
  height: 6px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.temp .item .greenBold {
  background-color: rgba(136, 238, 221, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 50%;
  height: 100%;
}